<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bills tracker{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/css/styles.css') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <img class="header-logo" src="/build/img/header1.jpg">
            </div>
            <div class="col-md-12 navigation">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('settings:index') }}">Settings</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
            <div class="main">{% block mainmenu %}{% endblock %}</div>
    </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
